html{
    margin: 16;
    padding: 5;
    height: 100%;
  
}
body{
    margin: 20;
    padding: 10;
    height: 100%;
    background-color: darksalmon;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
input{
     background-color: burlywood;
     color: beige;
     text-transform: uppercase;
     font-size: 16px;
     border-width: 5px;
     border-color: bisque;
     border-style: dotted;
     
     
}
select{
    background-color: burlywood;
    color: beige;
    text-transform: uppercase;
     font-size: 16px;
     border-width: 3px;
     border-color: bisque;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 350px;
    margin: 80px;
    border: 2px solid rgb(rgb(255, 204, 0), rgb(128, 111, 0), rgb(255, 221, 0));
}