body {background-color:gray;}
h1 { text-align:left; 
     color:blue;
    }

h2 {text-align: right; color: yellow;} 
h3 {text-align: center; color: white;} 
h4 {text-align: justify; color: black background-color:yellow;} 